.panel-heading {
  text-align: center;
  background-image:none !important;
  border-bottom: none;
}

.form-group {
  text-align: center;
}

.margin-top {
  margin-top: 20px;
}



.new_acc_input {
  border: none;
}

.pull-right {
  float: right !important;
}

.account_holder {
  height: 53px;
  border-top:1px solid black;
}

.account_name {
 width: 90%;
 float:left;
}

.account_name>p {
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
}

.delete_acc {
  width: 10%;
  float: right;
  text-align: center;
  padding-top: 12px;
}

.btn-circle {
  background-color: rgba(14, 0, 102, 0);
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 6px 0;
  font-size: 16px;
  border-radius: 16px;
  border-color: black;
}

.btn-circle:hover {
  background-color: red;
  color: white;
}



@media (max-width: 767px) {
  .outcoming_description,
  .outcoming_amount, 
  .outcoming_date,
  .select_account_outcoming {
     margin-bottom: 10px;
  }

 .button-holder {
    margin-right: 15px;
    margin-left: 15px;
  }

  .btn-mobile-100 {
    width: 100%;
    margin-bottom: 5px;
  }
}