.vertical-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.page-header {
  border-bottom: 0;
}


.nav-tabs.nav-justified>li>a {
  border-bottom: 1px solid #edeff1;
  margin-bottom: 0;
}

.nav-tabs>li>a {
 border: none;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
  border: none;
  border-bottom: 1px solid #edeff1;
  background-color: #edeff1;
}

.login-form {
  border-radius: 0 0 6px 6px;
  margin-top: -1px;
}


a.list-group-item,
.list-group-item .btn-delete {
  color: #16a085;
}

a.list-group-item:hover {
  color: #48c9b0;
}


.btn-delete {
  background-color: transparent;
  font-size: inherit;
}

.btn-delete:hover {
  color: red;
}


.negative span,
span.negative,
i.negative {
  color: red;
}

.positive span,
span.positive,
i.positive {
  color: green;
}

table.low_font_size{
  font-size: 0.8em;
}


.panel-default>.panel-heading {
  background-color: #edeff1;
}

.list-group-item.clearfix.total_sum {
  font-weight: 600;
}


@media(max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }
}