.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.page-header {
  border-bottom: 0;
}


.navbar,
.navbar-tabs{
  margin-bottom: 0px;
}

.add_account {
  width: 100%;
}

.add_account>input,
.add_goal_name>input{
 padding-left: 0;
}

.account_holder,
.goal_holder {
  width: 100%;
  height: 35px;
  margin: 5px 0;
  padding: 5px 0;
}

.account_name,
.account_placeholder,
.delete_acc,
.goal_name_input,
.goal_date_input,
.goal_amount_input,
.goal_name,
.goal_date,
.goal_amount,
.delete_goal {
  display: inline-block;
  float:left;
}

.account_name {
 width: 85%;
 text-align: left;
}

.account_placeholder {
  width: 5%;
}

.delete_acc {
  width: 10%;
  float:left;
  text-align: center;
}

.account_name p,
.account_placeholder,
.delete_acc i,
.goal_name p,
.goal_date p,
.goal_amount p,
.delete_goal i {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.delete_acc i:hover,
.delete_goal i:hover{
  color: red;
}



.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #B5EDFF;
}

.progress {
  margin-bottom: 0;
  height: 20px;
  vertical-align: middle;
  margin-top: 3px;
}

.progress-bar {
  line-height: 20px;
}

.negative span {
  color: red;
}

.positive span {
  color: green;
}

.summary {
  font-weight: 700;
}





.add_account>.form-control.input-lg.flat{
  width: 85%;
  margin-right: 5px;
}

.add_accounts>.form-control.input-lg.flat{
  width: 80%;
  margin-right: 5px;
}

.add_goal>.form-control.input-lg.flat.goal_name_input {
  width: 40%;
  margin-right: 5px;
  padding-left: 0;
}


.add_goal>.form-control.input-lg.flat.goal_amount_input,
.add_goal>.form-control.input-lg.flat.goal_date_input {
  width: 20%;
  margin-right: 5px;
}

.goal_name {
  width: 40%;
  margin-right: 5px;
  padding-left: 0;
}

.goal_amount,
.goal_date {
 width: 20%;
 margin-right: 5px;
}

.delete_goal {
  width: 10%;
  float:left;
  text-align: center;
}

.border_bottom {
  border-bottom: 1px solid black;
}



@media(max-width: 1199px) {
  .add_account>.form-control.input-lg.flat{
    width: 75%;
  }

  .add_goal>.form-control.input-lg.flat.goal_name_input {
    width: 30%;
  }

  .add_goal>.form-control.input-lg.flat.goal_amount_input,
  .add_goal>.form-control.input-lg.flat.goal_date_input {
    width: 25%;
  }

  .goal_name {
    width: 30%;
  }

  .goal_amount,
  .goal_date {
    width: 25%;
  }


  .delete_goal {
    width: 10%;
  }
}


@media(max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }

  .add_account>input{
    width: 100% !important;
    margin-bottom: 5px;
  }

  .account_name{
    width: 80%;
  }

  .account_placeholder{
    width: 1%;
  }

  .delete_acc {
    width: 19%;
  }

  .navbar-header {
    margin-bottom: 5px;
  }

  .navbar-brand {
    font-size: 2.5em;
    float: inherit;
  }

  .add_goal>input{
    width: 100% !important;
    margin-bottom: 5px;
    padding-left: 0;
  }

  .goal_name,
  .goal_amount,
  .goal_date,
  .delete_goal {
    width: 45%;
    display: inline-block;
    text-align: center;
  }
}