body {
  background-color: #422626;
}

.text-centered {
  text-align: center !important;
}

.no-margin {
  margin: 0;
}


/*begin logo align*/
.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  float:none;
}
/*end logo align*/

.nav,
.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
}

ul.nav>li,
ul.nav-tabs>li {
  width: 50%;
  border: none;
}


.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background-color: #B38193;
  border: none;
}



.login-form {
  margin-top: -33px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #B38193;
}



.tab-pane {
  padding-left: 0px;
  padding-right: 0px;
}

.placeholder {
  margin-top: 15px;
  padding-bottom: 22px;
  height: 13px;
}

label {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 5px;
}


.center-column {
  max-width: 500px;
}


@media (max-width: 767px) {
  .center-column {
    min-width: 300px;
  }
}


